---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <main class="wrapper">
    <h1 class="hero-heading">howdy, i'm larissa</h1>
    <section class="hero">
      <div class="hero-text">
        <p>
          I’m Larissa Cook, an illustrator and designer living in a rural town
          located in the Snowy Mountains NSW, Ngarigo Country.
        </p>
        <p>
          Living in this beautiful part of the country has heavily inspired my
          illustrations and subject matter. Drawing from Australian flora and
          fauna, with a special nod to my magpie neighbors, my work is a vibrant
          celebration of our unique environment. Infusing joy into every piece
          and design, with a dash of playfulness and plenty of boldness.
        </p>
        <p>
          Beyond the digital canvas, I'm fueled by a passion for storytelling,
          funky design, crafting memorable customer experiences that surprise
          and delight, all while grooving to the beats of a boogilicious disco
          playlist.
        </p>
      </div>
      <div class="hero-image">
        <img />
      </div>
    </section>
    <div class="img-wrapper">
      <img />
    </div>
    <section class="hero">
      <div class="hero-image">
        <img />
      </div>
      <div class="hero-text">
        <h1 class="hero-heading">rural artist at work</h1>
        <p>
          I thrive on crafting pieces that ignite for customers and the thrill
          of seeing one of my creations find a new home. Each item I create has
          a unique story, with hidden details waiting to be discovered.
        </p>
        <p>
          In 2018, I dipped my toes into the vibrant market scene and I was
          utterly captivated. Being a small town girl I was over the moon to
          connect with people, engage in creative conversations, and be
          overwhelmed by the genuine affection shown for my artwork. Designing
          exhibition spaces is my playground. I relish the challenge of creating
          spaces with mega disco ball vibes, leaving a lasting impression on
          every visitor.
        </p>
        <p>
          Swing by my <a href="https://www.instagram.com/larissacook"
            >Instagram</a
          > or <a href="https://facebook.com/larissaillustration/">Facebook</a> to
          stay updated on my upcoming events. Thank you for swooping by and supporting
          a rural artist.
        </p>
      </div>
    </section>
    <section class="about fullwidth">
      <div class="about-text">
        <h1 class="hero-heading">the designer</h1>
        <p>
          I am passionate about creating thoughtful customer journeys through
          design. With more than 13 years of dedicated experience in various
          graphic design roles I bring creativity, an innate sense of
          aesthetics, and a versatile style that seamlessly adapts to meet
          client needs to achieve wonderful spaces for users. My skill set is
          comprehensive and diverse, encompassing project management, branding,
          typography, print publishing, signage, UX design, email marketing,
          merchandise development, digital and social marketing.
        </p>
      </div>
      <div class="icons-wrapper">
        <div class="icons-item">
          <img />
          <span>DESIGN</span>
        </div>
        <div class="icons-item">
          <img />
          <span>BRAND</span>
        </div>
        <div class="icons-item">
          <img />
          <span>ILLUSTRATION</span>
        </div>
        <div class="icons-item">
          <img />
          <span>UX</span>
        </div>
      </div>
    </section>
  </main>
</Layout>
