---
import Layout from "../layouts/Layout.astro";
---

<Layout title="work">
  <main>
    <div class="wrapper">
      <section class="illustration-section">
        <div class="section-heading">
          <h1>illustration</h1>
          <img />
        </div>
        <div class="double-column">
          <div class="column-text">
            <p>
              My illustration style is vibrant, bold, and playful. Much of my
              portfolio is dedicated to celebrating the unique beauty of
              Australia's flora, fauna, and landscapes.
            </p>
            <p>
              Through product development I’ve exploring a variety of materials
              to craft creative and marketable designs. From wooden pins and
              brooches to fun stickers, prints, and wall hangings, my creations
              span a diverse range of mediums. You'll also find my artistic
              touch adorning tote bags, earrings, and even hand-sewn custom
              printed makeup bags. For those seeking a deeper dive into my
              world, there's also a fully illustrated artbook to explore - with
              over 98 animal illustrations.
            </p>
            <p>
              Each of my creations is accompanied by carefully designed
              packaging, adding that extra touch of delight and charm to every
              item.
            </p>
          </div>
          <div class="column-image">
            <img />
          </div>
        </div>
      </section>
      <section class="design-section">
        <div class="section-heading">
          <h1>design</h1>
          <img />
        </div>
        <div class="single-column">
          <div class="column-text">
            <p>
              As a designer, I believe storytelling lies at the core of
              branding. It begins with attentive listening to clients' needs,
              grasping their fundamental values, and comprehending how they
              engage with their audience. These elements form the cornerstone of
              any branding initiative, whether it's a comprehensive brand
              overhaul or targeted marketing campaigns. Regardless of the scale,
              it all boils down to crafting a compelling narrative. As a
              designer, I collaborate closely to create visuals that seamlessly
              align with and enhance that narrative.
            </p>
          </div>
          <div class="grid-layout">
            <div class="item item-1">
              <img />
            </div>
            <div class="item item-2">
              <img />
            </div>
            <div class="item item-3">
              <img />
            </div>
            <div class="item item-4">
              <img />
            </div>
            <div class="item item-5">
              <img />
            </div>
            <div class="item item-6">
              <p>
                I bring a wealth of expertise in email marketing, adept at
                crafting and executing compelling content and campaigns tailored
                to specific segments. My proficiency extends from managing
                comprehensive database sends to curating exclusive content,
                establishing automated workflows and understanding plus
                identifying results to improve for the future.
              </p>
              <p>
                The automated flows are build to guide customers through their
                journey - from crafting impactful order confirmations to
                strategically designed abandoned cart reminders, welcome series,
                events, and re-engagement initiatives. I specialize in nurturing
                customer relationships through targeted email strategies.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="brand-section">
        <div class="section-heading">
          <h1>brand</h1>
          <img />
        </div>
        <div class="double-column">
          <div class="column-text">
            <p>
              As a designer, I believe storytelling lies at the core of
              branding. It begins with attentive listening to clients' needs,
              grasping their fundamental values, and comprehending how they
              engage with their audience. These elements form the cornerstone of
              any branding initiative, whether it's a comprehensive brand
              overhaul or targeted marketing campaigns. Regardless of the scale,
              it all boils down to crafting a compelling narrative. As a
              designer, I collaborate closely to create visuals that seamlessly
              align with and enhance that narrative.
            </p>
          </div>
          <div class="column-image">
            <img />
          </div>
        </div>
      </section>
      <section class="ux-section">
        <div class="section-heading">
          <h1>ux</h1>
          <img />
        </div>
        <div class="single-column">
          <div class="column-text">
            <p>
              Inspired by the cadence of design thinking, empathize, define,
              create, prototype, test, and implement, I meticulously guide each
              project with meticulous attention. By synthesizing the
              perspectives of both clients and end-users, I craft digital
              environments that seamlessly blend functionality and delight. My
              journey into UX design, spanning the past 3 to 4 years, has been a
              captivating adventure, immersing myself in the pursuit of
              innovative solutions that prioritize usability, accessibility, and
              interaction
            </p>
          </div>
          <div class="grid-layout">
            <div class="item item-7">
              <img />
            </div>
            <div class="item item-8">
              <img />
            </div>
            <div class="item item-9">
              <img />
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</Layout>
