.fullwidth,
.wrapper {
  --container-margin: var(--size-10);
  --container-gutter: var(--size-4);
  --content-width: 100%;
  --container-columns: 6;
  display: grid;
  grid-template-columns:
    [full-bleed-start] minmax(var(--container-margin), 1fr)
    [body-start] minmax(0, var(--content-width))
    [body-end] minmax(var(--container-margin), 1fr) [full-bleed-end];
  @media (--sm) {
    --content-width: 640px;
  }
  @media (--md) {
    --container-margin: var(--size-8);
    --container-columns: 12;
    --content-width: 768px;
  }
  @media (--lg) {
    --container-gutter: var(--size-6);
    --content-width: 1024px;
  }
  @media (--xl) {
    --container-gutter: var(--size-8);
    --container-margin: var(--size-24);
    --content-width: 1280px;
  }
  @media (--xxl) {
    --content-width: 1536px;
  }
  & > * {
    grid-column-start: body-start;
    grid-column-end: body-end;
  }
}

.fullwidth {
  grid-column-start: full-bleed-start;
  grid-column-end: full-bleed-end;
}
